*{
    margin: 0;
    padding: 0;
}
#cajaIzquierda{
    align-self: flex-end;
}

#cajaDerecha{
    width: min-content;
}

#cajaCombinacion{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}

#cajaSolucion{
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}

#combinaciones{
    display: flex;
}

main{
    display: flex;
}